
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--primary-white);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-black: #131515;
  --primary-gray: #2B2C28;
  --primary-white: #FFFAFB;
  --light-purple: #8257e6;
  --dark-purple: #533a8b;
}

body {
  background-color: var(--primary-black);
}

/* HEADER */
.header {
  background-color: var(--primary-gray);
  width: 100%;
  height: 90px;
  display: flex;
  border-bottom: 2px solid var(--dark-purple);
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-name {
  font-size: 38px;
  font-weight: 400;
  color: var(--light-purple);
}

.nav-name span {
  color: var(--primary-white);
}

.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-toggle img {
  width: 40px;
}

.menu-btn {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu-btn img {
  width: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* HOME */

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
}

.home-text--main h1 {
  font-size: 32px;
  font-weight: 300;
}

.home-text--span {
  font-weight: 400;
  display: block;
  font-size: 46px;
  margin: 5px 0;
  letter-spacing: 2px;
  color: var(--light-purple);
}

.home-text--main .home-text--span::after {
  content: '|';
  margin-left: 1px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

.home-image--main img {
  width: 500px;
}

.home-links {
  font-size: 16px;
  margin-top: 35px;
  display: flex;
}

.home-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  padding: 10px 15px;
  background-color: transparent;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, var(--light-purple), var(--dark-purple));
}

.home-scroll {
  text-align: center;
}

.home-scroll--text {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 600;
  animation: pulse 1s infinite;
  animation-direction: alternate;
  animation-name: pulse;
}

/* ABOUT */

.about {
  background-color: var(--primary-gray);
}

.aboutInfo {
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.aboutAbilities {
  text-align: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.aboutAbilities--text {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.abilities-main--grid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.abilities-item {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 150px;
  height: 160px;
  transition: all ease 0.6s;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, var(--light-purple), var(--dark-purple));
}

.abilities-item:hover {
  transform: scale(1.1);
}

.abilities-item img {
  width: 100%;
  height: 100%;
}

.about-photo img {
  border-radius: 6px;
  border-left: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(180deg, var(--light-purple) 0%, var(--dark-purple) 100%);
  margin-right: 100px;
}

.about-text {
  font-size: 20px;
}

.about-text span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

/* PROJECTS */

.projects-main {
  padding-top: 30px;
  padding-bottom: 150px;
}

.projects-main--text {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 15px;
}

.projects-main--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px 15px;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, var(--light-purple), var(--dark-purple));
  padding: 10px;
  height: 750px;
  transition: all ease-in-out 0.4s;
}

.grid-item:hover {
  transform: scale(1.03);
}

.grid-item img {
  width: 100%;
  height: 50%;
}

.grid-info {
  height: 50%;
}

.project-title {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0px;
}

.project-info {
  display: block;
}

.project-link {
  font-size: 18px;
  display: block;
  margin: 10px 0px;
  font-weight: 600;
}

.project-link a {
  color: var(--light-purple);
  display: block;
  border: 1px solid var(--light-purple);
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  transition: all ease-in-out 0.3s;
}

.project-link a:hover {
  background-color: var(--primary-white);
}


/* BARRA DE ROLAGEM */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-purple);
}



@keyframes borderAnimate {
  to {
    transform: translateX(-50%);
  }
}

@keyframes pisca {
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}


@media (max-width: 1060px) {

  /* HOME */
  .home-main {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }

  .home-text--main {
    width: 100%;
  }

  .home-title {
    margin: 0 auto;
  }

  .home-title h1 {
    font-size: 28px;
  }

  .home-text--span {
    font-size: 40px;
  }

  .home-links {
    margin: 35px auto;
    width: 50%;
    justify-content: space-around;
  }

  .home-links a {
    margin-right: 0;
  }

  .home-image--main img {
    width: 300px;
  }

  /* ABOUT */

  .aboutInfo {
    flex-direction: column;
  }

  .about-photo img {
    margin-right: 0;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-right: 0px solid;
    border-left: 0px solid;
  }
  
  .about-text {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }
  
  .about-text span {
    font-size: 22px;
  }

  .aboutAbilities--text {
    font-size: 22px;
  }

  .abilities-main--grid {
    gap: 2rem;
  }

  .abilities-item {
    padding: 25px;
    width: 130px;
  }

  /* PROJECTS */
  .projects-main--text {
    text-align: center;
    font-size: 22px;
  }

  .projects-main--grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 25px;
  }
  
  .project-title {
    font-size: 24px;
  }

  .project-info {
    font-size: 14px;
  }

  .project-link {
    font-size: 16px;
  }
}

@media (max-width: 780px) {

  /* HEADER */
  .nav-name {
    font-size: 30px;
  }

  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  /* HOME */
  .home-title h1 {
    font-size: 18px;
  }

  .home-text--span {
    font-size: 26px;
  }

  .home-links {
    font-size: 14px;
  }

  /* ABOUT */
  .about-text {
    padding: 0px 15px;
  }

  .abilities-main--grid {
    gap: 1rem;
    padding: 0px 15px;
  }
  
  .abilities-item {
    padding: 15px;
  }

  /* PROJECTS */

  .projects-main--grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 25px;
  }

  .grid-info {
    text-align: center;
  }

  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 425px) {

  /* HEADER */
  .nav-name {
    font-size: 24px;
  }
  
  /* HOME */
  .home-links {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  .home-links a {
    margin-bottom: 10px;
    padding: 5px;
  }

  .home-main {
    height: 60vh;
  }

  .home-image--main img {
    width: 200px;
    display: none;
  }

  .home-scroll--text {
    font-size: 12px;
  }

  /* ABOUT */

  .abilities-main--grid {
    gap: 0.5rem;
  }

  .abilities-item {
    padding: 5px;
  }

  /* PROJECTS */

  .project-link {
    flex-direction: column;
  }
}


